{% extends 'Enseignant/BaseProf.html' %}
{% block content %}

<div class="flex items-center justify-center h-screen">
        <div class="relative flex flex-col m-6 overflow-x-auto shadow-md sm:rounded-lg ">
                <div class="flex flex-col justify-right">
                    <form method="post">
                        {% csrf_token %}
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Matricules
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Etudiants
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Notes
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Remarques
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for etudiant in etudiants %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{ etudiant.Matricule }}
                                        </th>
                                        <td class="px-6 py-4">
                                        {{ etudiant.Nom }} {{ etudiant.Prenom }}
                                        </td>
                                        <td class="px-6 py-4">
                                            <div class="relative z-0">
                                                <input type="text" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                                            </div>
                                        </td>
                                        <td class="px-6 py-4">
                                            <div class="relative z-0">
                                                <input type="text" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                                            </div>
                                        </td>
                                    </tr>
                                 {%  endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
        </div>

</div>



{% endblock %}