{% extends 'Enseignant/BaseProf.html' %}
{% load my_filter %}
{% block content %}


        <div class="divider text-base-content/50 py-6 after:border-0">Classes</div>
              <ul class="space-y-2 font-medium">
                  {% if user.is_authenticated %}
                    {% for classe in classes %}
                         <li>
                            <a href="{% url 'EnseignantNote' classe.idMatiere.idMatiere|urlStr:classe.idClasse.idClasse 1 %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                               <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                                  <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                                  <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                               </svg>
                               <span class="ms-3">{{ classe.idClasse.Filiere }} {{ classe.idClasse.niveau }} - {{classe.idMatiere.Id_UE}} </span>
                            </a>
                         </li>

                    {% endfor %}
                  {% endif %}
              </ul>


<!--          {% if user.is_authenticated %}-->
<!--            {% for classe in classes %}-->
<!--              <li>-->
<!--                &lt;!&ndash; Bouton pour ouvrir un overlay pour chaque classe &ndash;&gt;-->
<!--                <button type="button" class="btn btn-primary" aria-haspopup="dialog" aria-expanded="false" aria-controls="overlay-class-{{ classe.idClasse.idClasse }}" data-overlay="#overlay-class-{{ classe.idClasse.idClasse }}">-->
<!--                  {{ classe.idClasse.Filiere }} {{ classe.idClasse.niveau }}-->
<!--                </button>-->

<!--                &lt;!&ndash; Overlay de la classe &ndash;&gt;-->
<!--                <div id="overlay-class-{{ classe.idClasse.idClasse }}" class="overlay w-3/4 overlay-open:translate-x-0 drawer drawer-end h-auto hidden transition-all duration-300" role="dialog" tabindex="-1">-->
<!--                  <div class="drawer-header py-4 px-6 border-b flex justify-between items-center">-->
<!--                    <h3 class="drawer-title text-lg font-bold">{{ classe.idClasse.Filiere }} {{ classe.idClasse.niveau }}</h3>-->
<!--                    <button type="button" class="btn btn-text btn-circle btn-sm absolute end-3 top-3" aria-label="Close" data-overlay="#overlay-class-{{ classe.idClasse.idClasse }}">-->
<!--                      <span class="icon-[tabler&#45;&#45;x] size-5"></span>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                  <div class="drawer-body py-4 px-6 space-y-4">-->
<!--                      <p class=" text-gray-600">-->
<!--                          Informations spécifiques à {{ classe.idClasse.Filiere }} - {{ classe.idClasse.niveau }}.-->
<!--                          Vous pouvez ajouter du texte, des images, ou d'autres éléments interactifs ici.-->
<!--                      </p>-->
<!--                  </div>-->

<!--                  <div class="drawer-footer py-4 px-6 border-t flex justify-end space-x-2">-->
<!--                      <button type="button" class="btn btn-soft btn-secondary" data-overlay="#overlay-class-{{ classe.idClasse.id }}">Close</button>-->
<!--                      <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                  </div>-->



<!--                </div>-->
<!--              </li>-->
<!--            {% endfor %}-->
<!--          {% endif %}-->

<!--          &lt;!&ndash; Divider: Account &ndash;&gt;-->
<!--          <div class="divider text-base-content/50 py-6 after:border-0">Account</div>-->

<!--          <li>-->
<!--            <a href="{% url 'login' %}">-->
<!--              <span class="icon-[tabler&#45;&#45;login] size-5"></span>-->
<!--              Sign In-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="{% url 'logout' %}">-->
<!--              <span class="icon-[tabler&#45;&#45;logout-2] size-5"></span>-->
<!--              Sign Out-->
<!--            </a>-->
<!--          </li>-->

<!--        </ul>-->
<!--      </div>-->
<!--    </aside>-->
        <p> Hello professeur {{user.username}}  </p>
        <p> Welcomme to your workspace at the IISTI listing site </p>
{% endblock %}